# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# IDE files
.vscode/
.idea/

# Project Specific Large Files
notebooks/train_df
prediction_submission.csv
models/*.pkl
*.pkl
